name: debug

on:
  push:
  pull_request:
  pull_request_target:
  issue_comment:

jobs:
  debug:
    permissions:
      contents: read
      actions: read
    runs-on: ubuntu-latest
    steps:
    - name: debug
      env:
        github_json: ${{ toJSON(github) }}
        runner_json: ${{ toJSON(runner) }}
      run: |
        wrap() {
        (
          echo "<details><summary>$1</summary>"
          echo
          echo '```'
          cat -
          echo
          echo '```'
          echo '</details>'
          echo
        ) >> "$GITHUB_STEP_SUMMARY"
        }
        env -0 | sort -z | tr '\0' '\n' | wrap env
        cat "$GITHUB_EVENT_PATH" | wrap event-file
        echo "$github_json" | wrap github
        echo "$runner_json" | wrap runner
